#login-page {
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);

    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    // position: relative;
    // top: calc(50vh - 144px);
    // left: calc(50vw - 210px);
    background-color: white;
    width: 420px;
    text-align: center;
    border-radius: 22px;
    padding-bottom: 66px;
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-button {
    cursor: pointer;
    color: white;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // display: inline-block;
}

.facebook {
    background-color: #3b5998;
}

.google {
    background-color: #4285f4;
}

.icon_margin {
    margin-left: 5px;
}
