@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  background-image: url("https://media.istockphoto.com/id/840607214/photo/call-center-worker-accompanied-by-her-team.jpg?s=612x612&w=0&k=20&c=FQcuzI-GIYCoqVV3JIABCSHr-VqqtmOXGS90E4HnjRQ=");
}
