.sidebarOption {
    display: flex;
    align-items: center;
    color: grey;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
    &:hover {
        color: white;
    }

    p {
        margin-top: 10px;
        margin-left: 20px;
        font-size: 14px;
    }
}
.sidebarOption__icon {
    padding: 0 10px;
}
